.smart-feed {
  height: 100%;
  overflow: hidden;
  position: relative; }
  .smart-feed div {
    box-sizing: border-box; }
  .smart-feed ul {
    margin-bottom: 8px; }
  .smart-feed .btn-light {
    background: #f3f3f3;
    color: #444; }
  .smart-feed .photo-container {
    width: 100%; }
    .smart-feed .photo-container img {
      max-width: 100%;
      max-height: 100%; }
  .smart-feed .check-row {
    height: 48px;
    line-height: 48px;
    border-bottom: 1px solid #ccc;
    background: #fff;
    padding: 0 8px;
    position: relative; }
    .smart-feed .check-row.clickable {
      cursor: pointer; }
    .smart-feed .check-row span {
      font-size: 16px;
      color: #444; }
    .smart-feed .check-row i {
      font-size: 24px;
      vertical-align: middle;
      position: absolute;
      right: 12px;
      top: 14px;
      color: #999; }
      .smart-feed .check-row i.fa-check-square-o {
        right: 8px; }
  .smart-feed .tag {
    padding: 6px 8px;
    background: #f3f3f3;
    border-radius: 2px;
    display: inline-block;
    margin: 0 8px 8px 0;
    position: relative; }
    .smart-feed .tag.with-swatch {
      padding-left: 14px; }
    .smart-feed .tag span,
    .smart-feed .tag i {
      color: #444; }
    .smart-feed .tag span {
      vertical-align: middle; }
    .smart-feed .tag i {
      font-size: 18px;
      vertical-align: middle;
      cursor: pointer;
      margin-left: 6px; }
    .smart-feed .tag .tag-swatch {
      height: 24px;
      width: 10px;
      display: inline-block;
      position: absolute;
      left: 0;
      top: 3px;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px; }
  .smart-feed .search-bar {
    position: relative;
    margin-bottom: 10px; }
    .smart-feed .search-bar input {
      width: 100%;
      padding-left: 32px; }
    .smart-feed .search-bar .search-icon {
      position: absolute;
      top: 6px;
      left: 6px;
      font-size: 18px;
      color: #444; }
  .smart-feed .active-filter {
    position: fixed;
    width: 100%; }
    .smart-feed .active-filter .active-filter-bar {
      background: #222;
      padding: 6px;
      min-height: 38px; }
      .smart-feed .active-filter .active-filter-bar .status-indicator {
        font-style: italic;
        color: #f3f3f3;
        font-size: 14px;
        line-height: 38px; }
      .smart-feed .active-filter .active-filter-bar button {
        position: absolute;
        right: 6px; }
      .smart-feed .active-filter .active-filter-bar .filter-panel {
        color: #f3f3f3;
        padding: 10px 8px; }
        .smart-feed .active-filter .active-filter-bar .filter-panel li {
          display: inline-block; }
        .smart-feed .active-filter .active-filter-bar .filter-panel .subheader {
          color: #999; }
          .smart-feed .active-filter .active-filter-bar .filter-panel .subheader:not(:first-of-type) {
            margin-top: 18px; }
  .smart-feed .scrollable-list {
    height: 100%;
    overflow: auto;
    background: #444;
    padding: 8px; }
    .smart-feed .scrollable-list::-webkit-scrollbar {
      width: 0; }
  .smart-feed .tile-list {
    margin: 0;
    padding: 0;
    list-style: none; }
    .smart-feed .tile-list .tile {
      width: 304px;
      background: #f3f3f3;
      border-radius: 2px;
      margin-bottom: 16px; }
      .smart-feed .tile-list .tile .tile-contents .header-row {
        padding: 8px;
        height: 36px; }
        .smart-feed .tile-list .tile .tile-contents .header-row .logo-container {
          display: inline-block;
          height: 16px;
          margin-right: 8px; }
          .smart-feed .tile-list .tile .tile-contents .header-row .logo-container img {
            max-height: 100%;
            max-width: 100%; }
        .smart-feed .tile-list .tile .tile-contents .header-row .brand-name {
          font-size: 11px;
          font-weight: bold;
          color: #444;
          line-height: 11px;
          vertical-align: middle; }
      .smart-feed .tile-list .tile .tile-contents .footer-row {
        padding: 8px; }
        .smart-feed .tile-list .tile .tile-contents .footer-row span {
          color: #444;
          font-size: 14px;
          line-height: 16px; }
        .smart-feed .tile-list .tile .tile-contents .footer-row .actions {
          float: right; }
          .smart-feed .tile-list .tile .tile-contents .footer-row .actions i {
            font-size: 18px;
            color: #999;
            margin-left: 16px; }
  .smart-feed .tile-detail {
    height: 100%;
    overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
    background: #f3f3f3;
    height: 100%;
    width: 100%; }
    .smart-feed .tile-detail::-webkit-scrollbar {
      width: 0; }
    .smart-feed .tile-detail .nav-bar {
      padding: 8px;
      background: #414141; }
    .smart-feed .tile-detail .tile-detail-contents .product-list {
      margin: 0;
      padding: 0;
      list-style: none; }
      .smart-feed .tile-detail .tile-detail-contents .product-list .product-list-item {
        border-bottom: 1px solid #ccc; }
        .smart-feed .tile-detail .tile-detail-contents .product-list .product-list-item .thumbnail-container,
        .smart-feed .tile-detail .tile-detail-contents .product-list .product-list-item .title-container,
        .smart-feed .tile-detail .tile-detail-contents .product-list .product-list-item .actions-container {
          display: inline-block;
          vertical-align: middle;
          height: 72px; }
        .smart-feed .tile-detail .tile-detail-contents .product-list .product-list-item .thumbnail-container {
          width: 72px; }
          .smart-feed .tile-detail .tile-detail-contents .product-list .product-list-item .thumbnail-container img {
            max-height: 100%;
            max-width: 100%; }
        .smart-feed .tile-detail .tile-detail-contents .product-list .product-list-item .title-container {
          padding: 0 8px; }
          .smart-feed .tile-detail .tile-detail-contents .product-list .product-list-item .title-container .title {
            font-size: 14px;
            margin-bottom: 0;
            font-weight: bold;
            color: #555; }
          .smart-feed .tile-detail .tile-detail-contents .product-list .product-list-item .title-container .price {
            margin-top: 4px;
            font-size: 14px; }
        .smart-feed .tile-detail .tile-detail-contents .product-list .product-list-item .actions-container {
          float: right; }
          .smart-feed .tile-detail .tile-detail-contents .product-list .product-list-item .actions-container i {
            font-size: 18px;
            color: #999;
            margin: 27px 16px 0 0; }
    .smart-feed .tile-detail .tile-detail-contents .filter-container {
      padding: 16px 8px 8px; }
      .smart-feed .tile-detail .tile-detail-contents .filter-container .filter-title {
        font-weight: bold;
        color: #444; }
      .smart-feed .tile-detail .tile-detail-contents .filter-container .action-row {
        margin-top: 4px; }
        .smart-feed .tile-detail .tile-detail-contents .filter-container .action-row button {
          padding: 0;
          width: 70px; }
          .smart-feed .tile-detail .tile-detail-contents .filter-container .action-row button:not(:first-of-type) {
            margin-left: 8px; }
      .smart-feed .tile-detail .tile-detail-contents .filter-container .filter-panel h6.subheader {
        margin: 12px 0 0;
        line-height: 24px; }
        .smart-feed .tile-detail .tile-detail-contents .filter-container .filter-panel h6.subheader.with-divider {
          margin-top: 24px;
          border-top: 1px solid #ccc; }
      .smart-feed .tile-detail .tile-detail-contents .filter-container .filter-panel.colour-filter .colour-palette .colour-cell {
        width: 36px;
        height: 12px;
        display: inline-block;
        position: relative;
        height: 36px;
        cursor: pointer; }
        .smart-feed .tile-detail .tile-detail-contents .filter-container .filter-panel.colour-filter .colour-palette .colour-cell.selected:after {
          position: absolute;
          top: 4px;
          right: 4px;
          content: "\f00c";
          font-size: 14px;
          font-family: 'FontAwesome';
          color: white;
          text-shadow: 0 0 1px #0a0a0a; }
